<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AllStocks</title>
    <script src="https://kit.fontawesome.com/69f57f44fe.js" crossorigin="anonymous"></script>
    <script src="../static/jquery-3.6.0.js"></script>
    <script>
        $(function(){
            $("#revgraph").load('../static/revgraph.html')
            $("#piegraph").load('../static/piegraph.html')
            $("#graph").load('../static/graph.html')
        });
    </script> 
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="app-header">
        <div class="app-name">AllStocks</div>
        <i class="far fa-chart-bar"></i>
    </div>
    <div class="cards">

        <div class="card profile">
            <div class="card-content">
                <img src="{{ profile.logo }}" alt="" class="company-logo">
                <div class="name">{{ data.company }}</div>
                <div class="info-wrapper">
                    <div class="sector">Sector: {{ profile.sector }}</div>
                    <div class="industry">Industry: {{ profile.industry }}</div>
                    <div class="employees">{{ profile.employees }} Employees</div>
                </div>
            </div>
        </div>

        <div class="card profile">
            <div class="card-content">
                <div class="name">Info</div>
                <div class="info-wrapper">
                    <div class="description">{{ profile.description }}</div>
                </div>
            </div>
        </div>

        <div class="card stock-info">
            <div class="card-content">
                <div class="price-wrapper">
                    <div class="price">${{ data.price }}</div>
                    <div class="change" id="{{ colour }}">{{ data.change }}</div>
                    <div class="percent" id="{{ colour }}">{{ data.percent }}</div>
                </div>
                <div class="num-wrapper">
                    <div class="num">Previous Close: {{ data.previous }}</div>
                    <div class="num">Open: {{ data.open }}</div>
                    <div class="num">Bid: {{ data.bid }}</div>
                    <div class="num">Ask: {{ data.ask }}</div>
                    <div class="num">Day's Range: {{ data.daysrange }}</div>
                    <div class="num">Year's Range: {{ data.weekrange }}</div>
                    <div class="num">Volume: {{ data.volume }} </div>
                    <div class="num">Avg. 3 Month Volume: {{ data.avgmonthvolume }}</div>
                </div>
            </div>
        </div>

        <div class="card analytics">
            <div class="card-content">
                <div class="title">Growth Predictions</div>
                <div class="growth-info-wrapper">
                    <div class="growth">Current Quarter: {{ growth.currentqtr }}</div>
                    <div class="growth">Next Quarter: {{ growth.nextqtr }}</div>
                    <div class="growth">Current Year: {{ growth.currentyr }}</div>
                    <div class="growth">Next Year: {{ growth.nextyr }}</div>
                    <div class="growth">Next 5 Years: {{ growth.nextfiveyrs }}</div>
                </div>
            </div>
        </div>

        

        <!--seperator to prevent wrapping-->
        <div></div>
        {% if stock == "AAPL" %}
            <div class="graph">
                <div class="rev-wrapper">
                
                    <img src="../static/model_result.png" alt="" class="apple-model">
                    
                </div>
            </div>
        {% endif %}
        
        <div class="graph revenue">
            <div class="rev-wrapper">
                <div id="revgraph"></div>
            </div>
        </div>

        <div class="graph pie">
            <div class="pie-wrapper">
                <div id="piegraph"></div>
            </div>
        </div>  

        


        <div class="candle">
            <div class="candle-wrapper">
                <div id="graph"></div>
            </div>
        </div>   
        
    </div>
    <button class="reload-btn" onClick="window.location.assign('http://127.0.0.1:5000/')">Search Another Stock</button>
</body>
</html>
