<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AllStocks</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/69f57f44fe.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="app-name">
        AllStocks <i class="far fa-chart-bar"></i>
    </div>
    <div class="card">
        <div class="content">
            Symbol: <h2>{{ data.symbol }}</h2>
            Price: <h2>{{ data.price }}</h2>
            Change: <h2>{{ data.change }}</h2>
            Previous Close: <h2>{{ data.previous }}</h2>
            Open: <h2>{{ data.open }}</h2>
            Bid: <h2>{{ data.bid }}</h2>
            Ask: <h2>{{ data.ask }}</h2>
            Days's Range: <h2>{{ data.daysrange }}</h2>
            Year's Range: <h2>{{ data.weekrange }}</h2>
            Volume: <h2>{{ data.volume }}</h2>
            Avg. 3 Month Volume: <h2>{{ data.avgmonthvolume }}</h2>
        </div>
    </div>
</body>
</html>